{% extends 'mainapp/base.html' %}
{% load static %}
{% block title %}
StockIma
{% endblock title %}

{% block css %}

<style>
</style>

{% endblock css %}

{% block body %}

<div class="container">
  <h1>Live stock Tracker</h1>
  <p>Select Your Stock</p>
  <form action="">
    <label for="Stockpicker">Select Stocks: </label>
    <select class="form-select" multiple aria-label="multiple select example">
      {% for stock in stockpicker %}
      {% comment %} <option selected>Open this select menu</option> {% endcomment %}
      <option value="{{ stock}}"> {{stock}} </option>

      {% endfor %}


    </select>
    <br>
    <div class="d-grid gap-2">
      <button type="button" class="btn btn-primary">Primary</button>
    </div>
  </form>

</div>

{% endblock body %}